.parallax {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.scroller {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  width: max-content;
}
